In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('../Data/jesterfinal151cols.csv', header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,62,99,99,99,99,0.21875,99,-9.28125,-9.28125,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
1,34,99,99,99,99,-9.68750,99,9.93750,9.53125,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
2,18,99,99,99,99,-9.84375,99,-9.84375,-7.21875,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
3,82,99,99,99,99,6.90625,99,4.75000,-5.90625,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
4,27,99,99,99,99,-0.03125,99,-9.09375,-0.40625,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50687,15,99,99,99,99,99.00000,99,-5.93750,-3.71875,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,-1.15625,99.0,-1.1875
50688,12,99,99,99,99,99.00000,99,-5.71875,-8.15625,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,3.06250,99.0,99.0000
50689,14,99,99,99,99,99.00000,99,0.09375,0.09375,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
50690,29,99,99,99,99,99.00000,99,-0.12500,-0.12500,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
50691,19,99,99,99,99,99.00000,99,-1.75000,-0.09375,99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN