In [2]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
jokes = pd.read_csv('../Data/processed_jokes.csv', delimiter=',',index_col=0)
jokes.head()

,JokeID,Text,CharCount,WordCount,AverageRating,StdDev,Popularity
0,1,"A man visits the doctor. The doctor says, ""I h...",165,30,NaN,NaN,0
1,2,This couple had an excellent relationship goin...,375,71,NaN,NaN,0
2,3,Q. What's 200 feet long and has 4 teeth? A. Th...,85,18,NaN,NaN,0
3,4,Q. What's the difference between a man and a t...,108,21,NaN,NaN,0
4,5,Q. What's O. J. Simpson's web address? A. Slas...,88,14,-2.034618,5.423289,566

In [9]:
tfidf = TfidfVectorizer(stop_words='english', ngram_range=(1, 2))
tfidf_matrix = tfidf.fit_transform(jokes['Text'].fillna(''))
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [25]:
def get_recommendations(joke_id, top_n=5):
    if joke_id < 1 or joke_id > 150:
        print("Invalid Joke Id")
        return

    idx = jokes.index.get_loc(joke_id)
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1],
                        reverse=True)[1:top_n + 1]

    indices = [i[0] for i in sim_scores]
    return jokes.iloc[indices][['Text', 'AverageRating']]

In [26]:
recc = get_recommendations(20)
recc

                                                  Text  AverageRating
111  When my three-year-old son opened the birthday...       2.259419
77   Q: What's the difference between the governmen...       2.267950
52   One Sunday morning William burst into the livi...       3.714249
72   Q: What is the difference between George Washi...       1.754678
29   Q: What's the difference between a lawyer and ...       1.048881